In [5]:
print("enter your number")
n=int(input())
i=1
answer=1
while(i<=n):
    answer=answer*i
    i+=1
print(answer)

enter your number
4
24

In [6]:
#find the factorial in every case
num=int(input("enter my  number"))
fact=1
if(num<0):
    print("not defined")
else:
    while(num>0):
        fact = fact * num
        num = num-1
    print(fact)

enter my  number4
24

In [7]:
num=abs(int(input()))
digit=1 # it cover all the digit from -9 to 9 it means we have already count single digit number now we have to count number >9
while(num>9):
    num=num//10 #  it gives only integer part and  it devied the number greater than 10 untill the number comes less than 9 
    digit=digit+1
print(digit)
#num=1234
#more than 9
#it divide 1234//10 =123
#digit becomes  2
#still 123 >9 further devies 
12
#digit becomes 3 
# still 12 >9 then again devied and gives intergral part 1 
# and the digit becomes 4 finally 
# now the while loop end !

5
1

12

In [8]:
1234%10

4

In [9]:
#forloop examples
for i in range(12):
    print(i,"delhi is too much polluted ")

0 delhi is too much polluted
1 delhi is too much polluted
2 delhi is too much polluted
3 delhi is too much polluted
4 delhi is too much polluted
5 delhi is too much polluted
6 delhi is too much polluted
7 delhi is too much polluted
8 delhi is too much polluted
9 delhi is too much polluted
10 delhi is too much polluted
11 delhi is too much polluted

In [10]:
print("enter a number")
n=int(input())

for i in range(n):
    if (i%2==0):
        print(i,"hello india")
    else:
        print(i,"hi world")

enter a number
5
0 hello india
1 hi world
2 hello india
3 hi world
4 hello india

In [11]:
#add the first 10 integers 
#0+1+2+3+4+5+6+7+8+9=45
ans=0
for i in range(10):
    ans=ans+i
print(ans)
    
    
    
    #ans=0
    #ans=ans+0 the value is 0
    #ans=ans+1 the value is 1 
    #ans=ans+2 the value is 3 
    #ans=ans+3 the value is 6 and this continue up to 9

45

In [12]:
#sum of n natural number 
print("enter a number ")
n= int(input())
ans=0
for i in range(n):
    ans=ans+i
ans

enter a number
8

28

In [13]:
 #multiplication in a for loop
for i in range(10):
    print("2 X ", i, "=",2*i)

2 X  0 = 0
2 X  1 = 2
2 X  2 = 4
2 X  3 = 6
2 X  4 = 8
2 X  5 = 10
2 X  6 = 12
2 X  7 = 14
2 X  8 = 16
2 X  9 = 18

In [14]:
 #multiplication in a for loop
for i in range(1,11):
    #print("2 X ", i, "=",2*i)
    print("3 X",i,"=",3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [15]:
#find all the odd  number in a range 
"""for i in range(1,11):
    if(i%2==0):
        print(i)
        """
#alternative method to find odd number 
for i in range(1,11,2): # here 2 denoted jumpes(step) between the index 1 to 11
    print(i)

1
3
5
7
9

In [16]:
# the computer always consist of three parameter in a range
#startingpoint , endpoint,and step
#for i in range (1,11,1):
   # print(i)
for i  in range(0,11,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
#number in reverse order in for loop 
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [18]:
#for loop without range
country="india"
for letter in country:
    print(letter)
    # it goes through the entire string that is stored in variable and iterates through each character

i
n
d
i
a

In [19]:
#print in a same line in for loop 
for i in range(10):
    print(i , end =' ')
    #here we are explicitly telling the computer to override the value  
    #and consider this space as a new value for end which means computer
    #will print x and end with space

0 1 2 3 4 5 6 7 8 9

In [20]:
d=10
m=5
y=2021
print("today's date is ")
print(d,m,y,sep='-')

today's date is
10-5-2021

In [21]:
d=10
m=5
y=2021
print("today's date is ", end='')
print(d,m,y,sep='-')

today's date is 10-5-2021

In [22]:
num=int(input())
for i in range(1,11):
    #print(num, "X",i,"=",num*i)
    #print(f'{num} X {i} = {num*i}')
    #print('{0} X {1} = {2}'.format(num,1,num*i))
    print('%d X %d =%d' %(num,i,num*i))

5
5 X 1 =5
5 X 2 =10
5 X 3 =15
5 X 4 =20
5 X 5 =25
5 X 6 =30
5 X 7 =35
5 X 8 =40
5 X 9 =45
5 X 10 =50

In [23]:
pi=22/7
print(f'value of pi ={pi}')
print('value of pi = {0}'.format(pi))
print('value of pi=%f'%(pi))

value of pi =3.142857142857143
value of pi = 3.142857142857143
value of pi=3.142857

In [24]:
#here we want to print specific digit after decimal 
pi=22/7
print(f'value of pi ={pi:.3f}')
print('value of pi = {0:.2f}'.format(pi))
print('value of pi=%.4f'%(pi))
#3f,2f,4f denotes the number of digit after decimal

value of pi =3.143
value of pi = 3.14
value of pi=3.1429

In [25]:
#here we want to print the statement left aligned
print('{0:5d}'.format(1))
print('{0:5d}'.format(11))
print('{0:5d}'.format(111))
print('{0:5d}'.format(1111))
print('{0:5d}'.format(11111))

    1
   11
  111
 1111
11111

In [26]:
#find the factorial of the given number 
num=int(input("enter a number"))
fact=1
if(num<0):
    print("not defined ")
else:
    while(num>0):
        fact=fact*num
        num=num-1
    print(fact)

enter a number6
720

In [27]:
num=int(input("enter my number"))
fact=1
if num<0:
    print("not defined")
else:
    for i in range(num,1,-1):
        fact=fact*i
    print(fact)

enter my number8
40320

In [28]:
#find the number of digit in a given number 
num=abs(int(input("enter my number ")))
strNum=str(num)
digit=0
for c in strNum:
    digit=digit+1
print(digit)

enter my number 8
1

In [29]:
#reverse the number using for loop
num=int(input("enter my number"))
absStrNum=str(abs(num))
rev='' #it is the space here c for each character in absStrnum and stores in rev for each each chaarcterr c for 
#eg 1234 then it stores first 1 +space then 
for c in absStrNum:
    rev=c+rev
if(num>=0):
    print(rev)
else:
    print('-'+ rev)

enter my number8
8

In [30]:
#find the number  whether it is palindrome or not 
num=int(input('enter my number'))
absStrNum=str(abs(num))
rev = ''
for c in absStrNum:
    rev= c + rev
if(num < 0):
    rev ='-'+ rev
if(num == int(rev)):
    print('palindrome')
else: 
    print('not a palindrome')

enter my number8
palindrome

In [31]:
import sys

locate_python = sys.exec_prefix

print(locate_python)

C:\Users\HP\anaconda3

In [32]:
f = open('myname.txt','w')
f.write('Rohit ')

# 'w 'is used here to write in file
# 'r' is used here to read the files
# if we replace w or r with a then after each execution
# it repeat the print value

6

In [33]:
f.write('welcome to ')
f.write('IIT MADRAS ')
f.write('india No. 1 best institute ')
f.close()

In [34]:
x=open('myname.txt','r')
s=x.read()
print(s)
x.close()

Rohit welcome to IIT MADRAS india No. 1 best institute

In [35]:
x=open('myname.txt','r')
s=x.read()
print(s)
x.close()
# if we do some changes in the file that we created 
# then automatcially changes in the directory

Rohit welcome to IIT MADRAS india No. 1 best institute

In [36]:
d=open('newfile.txt','w' )
d.write('hey Rani ')
d.write('i am missing you daily my babe ')

31

In [37]:
T=open('newfile.txt','r')
P=T.read()
print(P)

In [38]:
q=open('word.txt','w' )

In [39]:
q.write('one')

3

In [40]:
f = open('writing.txt', 'w')
f.write('one')
f.write('two')
f.write('three')
f.write('four')
f.write('five')
f.close()

In [41]:
d=open('writing.txt','r')
d.read()

'onetwothreefourfive'

In [42]:
l=[2,3,4,5]
flag = True
for i in range(len(L)):
    if L[i] > L[i + 1]:
        flag = False

NameError: name 'L' is not defined

In [ ]:
print(int('1.2'))

In [ ]:
def quotient(a, b):
    try:
        q = a // b
        return q
    except TypeError:
        print('Cannot divide strings')
    except ZeroDivisionError:
        print('Division by 0 is not allowed')
    finally:
        print('I will always be executed')
    
x = quotient('10', '5')
x = quotient(10, 0)
x = quotient(10, 5)
print(x)

In [ ]:
n = int(input())
M = [ ]
for i in range(n):
    M.append([ ])
    for j in range(n):
        if i == j:
            M[-1].append(1)
        else:
            M[-1].append(0)

In [ ]:
D = {'Anita': 23, 'Ashwin': 43,
     'Ahana': '24',
     'Adarsh': 30, 'Archana': 15}
try:
    # iterates through the keys from left to right
    for key in D:
        value = D[key]
        if type(value) == str:
            raise 'Error'
        print(f'{key}:{value}')
except:
    print("Values cannot be strings")

In [ ]:
class Rational:
    def __init__(self, num, den):
        self.num = num
        self.den = den
        self.reduce()
        
    def print_info(self):
        if self.den == 1:
            print(f'{self.num}')
        else:
            print(f'{self.num}/{self.den}')
    
    def reduce(self):
        for i in range(min(self.num, self.den), 1, -1):
            if self.num % i == 0 and self.den % i == 0:
                self.num = self.num // i
                self.den = self.den // i
                break

    def multiply(self, k):
        self.num = k * self.num
        self.reduce()

    def divide(self, k):
        self.den = self.den * k
        self.reduce()

In [ ]:
s=set()
s.add(1)
s.add(2)
print(s)

In [ ]:
x = Rational(4, 18)
x.print_info()

In [ ]:
s='vibgyor'
t='vibgyor'
count=0
for i in range(7):
    for j in range(7):
        print(i,j,s[i],s[j])
        count+=1
print(count)

In [ ]:
#find all the prime number les than the entered number 
num=int(input('enter a number'))
if num>=2:
    print(2,end = ' ')
for i in range(3,num):
    flag=False # in python we When a flag is set to false, 
    #it means some condition does not exist.
    for j in range(2,i):# here this loop will check the index if a number 
        #is a multiple of any element in loop 1 that divides in loop 2then it will not prime number 
        if(i % j == 0): #if this condition satisfy 
            #then again the particular number in not prime 
            flag=False
            break #break the inner loop
        else:
            flag= True #then we check for true
            #if flag=true then print prime number before the input value
    if(flag):
        print(i,end = ' ')
print(i)
print(j)

In [ ]:
#find the day wise total rainfall for the entered duration 
#of time eg week ,month, year
# -1 no rainfall happens on that day 
days=int(input('enter the number of days '))
for i in range(1,days+1): #here we call first days as day
    #1 and the last day as day 7 instead of 0 to 6
    total=0
    rainfall=int(input('enter the rainfall'))
    while(rainfall!=-1):# it iteraes untill we got -1 
        total=total+rainfall # it keeps adding the rainfall values untill we get -1
        rainfall=int(input('enter the rainfall'))
    print('total rainfall for day {0} is {1}'.format(i,total))

In [ ]:
#find the length of longest word from the set of word entered by the user 

word=input('enter a word : ')
maxlen=0
#count=0
while(word!='-1'): #it iterates the loop untill we get -1 means no word 
    count=0
    for letter in word:# for each loop it means it iterates the word letter one by one and store it to count 
        count=count+1
    if count>maxlen: #here we compare the length of 
        #each word with the previous max word and update with the max value
        maxlen=count
    word=input('enter a word: ')
print('the length of longest word is: ', maxlen )

# Break

In [ ]:
 #21f2001175@student.onlinedegree.iitm.ac.in
email=input('enter the mail id :')
for c in email:
    if(c=='@'):
        break #when the if condition satisfy it will break the for loop and jump to print 
    print(c,end='')
#here we want to print the user name

# continue

In [ ]:
email=input('enter the mail id :')
for c in email:
    if(c=='@'):
        print('')# it is used to print the word in next line 
        continue # it itearates in input value  for each letter and 
        # it jumps to the next value when the condition is satisfy 
        #it skips the value where our condition will satisfy and iterates in given sequence
        
    print(c,end = '')

# Pass

In [ ]:
for x in range(11):
    if x % 3 ==0:
        print(x)
    else:
        pass # it perform no operation it is a null statement in python 
 # here when the value of x became 1 and 1 is not divisible #
#by three then we came across else block  and the computer reach the keyword pass it did nothing and went back to the next value which is 2 and again same ....

In [ ]:
#Accept a positive integer nn as input and print the first 
#nn positive integers, one number on each line.
n=int(input('input my number'))
for i in range(1,n+1):
    print(i)

In [ ]:
#Accept a positive integer nn as input and print all the factors of nn, one number on each line.
n=int(input("enter the number"))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

In [ ]:
5%2

In [ ]:
#Accept two positive integers aa and bb as input. #Print the sum of all integers in the range [1000, 2000][1000,2000], ##endpoints inclusive, that are divisible by both aa and bb. If you find no number satisfying this condition in the given range, then print 0
a=int(input())
b=int(input())

total=0
for i in range(1000,2001):
    if i%a==0 and i%b==0:
       total+=i
if total!=0:
     print('sum of all integers that are divisible by a and b ',total)
else:
    print(0)

# class and object

In [ ]:
# first letter of class name is always capital 
     
class Student:
    roll_no= None  
    name =   None
s0=Student() #object # this is consturctor we constructed a object called S0
s0.roll_no = 0 
s0.name = 'Rohit '
print(s0.roll_no)
print(s0.name)

In [ ]:
s1=Student()
print(s1.roll_no , s1.name) #defaults value from class 
s2= Student()
s2.roll_no=2
s2.name= "rk"
print(s2.roll_no , s2.name)

In [ ]:
s50=Student()
s50.name="Aditi"
print(s50.name , s50.roll_no)

In [ ]:
class Student:
    def __init__(self, roll_no,name):
        self.roll_no=roll_no
        self.name = name 
    def display(self):
        print(self.roll_no , self.name)
s0 = Student(0 , 'Rohit')
s0.display()
s1=Student(1,'Aditi')
s1.display()
#everytime we try to create an object using these two parameter 
#python will excute the class three lines which is called init
#this is a special function which exist inside every single class in python programming language

In [ ]:
#self is a container which holds the current object that
#we have to use this self as first paramteer in every single function which is there inside a class
class Student:
    count=0 # count is owned by class student not under student 
    def __init__(self, roll_no,name ,total):
        self.roll_no=roll_no
        self.name = name 
        self.total=total
    def display(self):
        print(self.roll_no , self.name,self.total)
    def result(self):
        if self.total>120:
            print('Pass')
        else:
            print('Fail')
            
        
        
        
s0 = Student(0 , 'Rohit',100)
Student.count+=1
s0.result()
s0.display()
s1=Student(1,'Aditi',150)
Student.count+=1
s1.display()
s1.result()
#Roll_no and name are  object attributes and count are class atrributes

In [ ]:
i=int()
print(type(i))

s=str()
print(type(s))

l=list()
print(type(l))

d= dict()
print(type(d))

#what is list, str, int ?? and why it is always called class list class int

In [ ]:
class Student:
    def __init__(self,name, age , marks):
        self.name=name
        self.age=age
        self.marks=marks 
    def display(self):
        print(self.name,self.age,self.marks)
        
class employee():
    def __init__(self,name, age , salary):
        self.name=name
        self.age=age
        self.salary=salary 
    def display(self):
        print(self.name,self.age,self.salary)

s=Student('Aditi',20,250) #object
s.display()
e=employee('Rohit',19,50000)
e.display()
#too many repitation here as self.roll_no orself.age

In [ ]:
class Person():  #parent 
    def __init__(self,name,age):
        self.name=name
        self.age=age 
        
    def display(self):
        print(self.name, self.age)   #this was a brown colur 

class Student(Person):
    def __init__(self,name, age , marks):
        super().__init__(name,age) #super function recalls the init method from parent here  
        self.marks=marks 
        
    def display(self):
        super().display()
        print(self.marks)
        
class employee(Person):
    def __init__(self,name, age , salary):
        super().__init__(name,age) 
        self.salary=salary 
        
    def display(self):
       # super().display() 
        #print(self.salary)
        print(self.name, self.age ,self.salary) # we replacec brown color with red color 
#this features is called method overiding
#adding two underscore we are securing our class value referred as  private member of a class person
#and it not accessible to everyone
        
s=Student('Aditi',20,250) #object
s.display()
e=employee('Rohit',19,50000)
e.display()    
#inheritance allows child to inherit properties from parent

In [ ]:
355%2

In [ ]:
788%2

In [ ]:
(355%2 == 1) = 1

(788%2 == 1) = 0

(355%2 == 0) = 1

(788%2 == 0) = 1

In [5]:
name=str(input('name: '))
print(name)

name: rohit
rohit

In [9]:
light=input('light: ')
if (light=='red'):
    print('stop')
elif(light=='green'):
    print("go")
elif(light=='yellow'):
    print('Be ready')
else:
    print("light is broken")

light: yellow
Be ready

In [15]:
A=int(input("A: "))
G=input("M/F:")
if((A==1 or A==2 ) and G=="M"):
    print("fee is 100")
elif((A==3 or A==4) and G=="F"):
    print(fee is 200)
elif(A==5 and G=="M" ):
    print("fees is 300")
else:
    print("no fee")

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?

A: 2
M/F:F
no fee

C:\Users\HP\AppData\Local\Temp\ipykernel_10544\4286782661.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(fee is 200)

In [19]:
#<var>(false_val,true_val)[<condition>] clever if I ternary operator 
age=int(input("age: "))
vote= ("No", "yes") [age>=18]
print(vote)

age: 20
yes

In [1]:
print(True and False)
print(True and True)
print(False and False)
print(False and True)

False
True
False
False

In [19]:
print("it's a beatiful day")
print("we are from \"IIT\" Madras")

it's a beatiful day
we are from "IIT" Madras

In [25]:
x="abcd and "
print(x.lower())
print(x.upper())

abcd and
ABCD AND

In [5]:
#let us find factorial of a number 
print("enter a number ")
n=int(input())
#n=3
#1*2*3
answer=1
answer=answer*2
answer=answer*3
print(answer)

enter a number
3
6

In [27]:
print("enter a number ")
n=int(input())

i=1
answer=1
while(i<=n):
    answer=answer*i
    i=i+1
print(answer)

enter a number
-4
1

In [31]:
num=int(input())
fact=1
if num<0:
    print('not defined')
else:
    while num>0:
        fact=fact*num
        num=num-1 
    print(fact)

-4
not defined

In [37]:
num=abs(int(input('enter a number:')))
digit=1
while num>9:
    num=num//10
    digit=digit+1
print(digit)

enter a number:-123
3

In [57]:
#whether a number is palindrome or not 
# Take input from the user
number = int(input("Enter a number: "))

# Convert the number to a string
number_str = str(number)

# Reverse the string
reversed_str = number_str[::-1]

# Check if the original string is equal to the reversed string
if number < 0 and number_str[1:] == reversed_str[:-1]:
    print(f"{number} is a palindrome")
elif number >= 0 and number_str == reversed_str:
    print(f"{number} is a palindrome")
else:
    print(f"{number} is not a palindrome")

Enter a number: -121
-121 is a palindrome

In [64]:
num=int(input("enter a number "))
num_str=str(num)
rev_str=num_str[::-1]
#chek
if num<0 and num_str[1:]==rev_str[:-1]:
    print(f"{num} is a palindrome")
elif num>0 and num_str==rev_str:
          print(f"{num}is a palindrome")
else:
        print(f"{num} is not a palindrome")

enter a number 12345
12345 is not a palindrome

In [70]:
num=int(input("enter a number:"))
absNum=abs(num)
rev=absNum%10
absNum=absNum//10
while(absNum>0):
    r=absNum%10
    absNum=absNum//10
    rev=rev*10+r
if num<0:
    rev=rev-2*rev
if num==rev:
    print('palindrome')
    
else:
    print('not a palindrome')

enter a number:123
not a palindrome